<div>
    <audio class="audio" src="<%= data %>" controls="">
            Your browser does not support the audio element.
    </audio>
    <div class="audio-options">
        favorite | add to playlist | more info | etc |
    </div>
</div>
