<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sound Tracker</title>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stickyfooter.css">
  </head> 
    <%- body -%>
</html>
