<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sound Tracker</title>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stickyfooter.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/player.css">
  </head>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="header-wrapper">
        <div class="title">
          <a class="navbar-brand" href="/">Sound Track</a>
        </div>
        <div id="custom-search-input">
                <div class="search-box input-group col-md-12">
                    <input id="inputSearch" type="text" class="form-control input-lg" placeholder="Search...">
                    <span class="input-group-btn">
                        <buttonn id="btnSearch" class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
          </div>
         <div class="logged-user">Miguel</div>
        </div>
    </div>
    </nav>
    <%- body -%>
     <footer class="footer">
      <div class="container">
        <p class="text-muted">History | Playlists | Favorites| Etc.</p>
      </div>
    </footer>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/javascripts/general.js"></script>
</html>
