<div class="welcome-image">
</div>
<div class="welcome-waves">
</div>
<div class="welcome-features">
  <div class="welcome-features-title">Features</div>
  <div class="welcome-features-caption">Listen to you favourit songs everywhere anytime!</div>
  <div class="welcome-features-underline"></div>
  <div class="welcome-features">
    <div class="welcome-features-options">
      <div class="welcome-features-options-image">
        <img src="/images/tasks.png" alt="tasks" />
      </div>
      <div class="welcome-features-options-title">
        Create a Playlist
      </div>
      <div class="welcome-features-options-description">
        You will never forget your favorite songs again!Listen to them, save it and find an easy access all the time
      </div>
    </div>
    <div class="welcome-features-options">
    <div class="welcome-features-options-image">
      <img src="/images/speaker.png" alt="speaker" />
    </div>
      <div class="welcome-features-options-title">
        Find any song
      </div>
      <div class="welcome-features-options-description">
        A database of many songs (and constantly updating)
      </div>
    </div>
    <div class="welcome-features-options">
      <div class="welcome-features-options-image">
        <img src="/images/businessman.png" alt="businessman" />
      </div>
      <div class="welcome-features-options-title">
        Personalize
      </div>
      <div class="welcome-features-options-description">
        Create your own music space with 100% personalized profile
      </div>
    </div>
  </div>
</div>

  
<div class="form">
  <ul class="tab-group">
    <li class="tab"><a href="/login">Log In</a></li>
    <li class="tab active"><a href="/signup">Sign Up</a></li>
  </ul> 
  <div class="tab-content">
          <div id="signup">   
            <h1>Sign Up for Free</h1>
            <form action="/signup" method="POST">
            <div class="field-wrap">
              <input placeholder="username" name="username" type="text"required autocomplete="off"/>
            </div>
            <div class="field-wrap">
              <input placeholder="password" name="password" type="password"required autocomplete="off"/>
            </div>
            <% if (typeof message !== "undefined") { %>
            <div class="error-message"><%= message %></div>
            <% } %>   
            <button type="submit" class="button button-block"/>Get Started</button>
            </form>
          </div>
        </div>
    </div>
  </div>
  

