<div class="page container">
  <h2>Favorites</h2>
  <% favourites.forEach((favourite) => { %>
  <%  let song = { name: favourite.name, previewUrl: favourite.preview_url, image: favourite.image } %>
  <%  let artistInfo = { id: favourite.artist_id, name: favourite.artist_name, location: favourite.artist_location, locationLabel: favourite.artist_locationLabel} %>
  <%  let artistBio = favourite.artist_bio %>
  <% include partials/player.ejs %>
  <% }) %>
</div>
 <script
    async
    defer
    src="https://maps.googleapis.com/maps/api/js?v=3.20&key=AIzaSyDHylimdPIr0Lfc6WzCjS47B7mrNrTQSJ0">
</script>
<script>
setTimeout(function(){
    for (var property in initializeMaps) {
      initializeMaps[property]();
    }
  }, 2000);
</script>
