<div class="page container">
  <h2>Followed</h2>
  <div class="followed">
  <% if (myArray.length > 0) { %>
  <% myArray.forEach((element) => { %>
    <% element.forEach((el) => { %>
    <div class="followed-albums">
      <a href="/followed/individual?albumId=<%= el.id %>">
        <img src="<%= el.image%>"/> 
      </a>
    </div>
<% }) %>
  </div>
<% }) %>
<% } else {%>
  <div class="empty-page">You are not following any artist, yet...</div>
  <% } %>
</div>
