<div class="page container">
  <h2>Queue</h2>
  <% if (queue.length > 0) { %>
  <%  queue.forEach((element) => { %>
  <%  let song = { name: element.name, previewUrl: element.preview_url, image: element.image } %>
  <%  let artistInfo = { id: element.artist_id, name: element.artist_name, location: element.artist_location, locationLabel: element.artist_locationLabel} %>
  <%  let artistBio = element.artist_bio %>
  <% include partials/player.ejs %>
  <% }) %>
  <% } else {%>
  <div class="empty-page">Who could you listen non-stop? Add you favourite artists, groups here and never loose track of the music you love.</div>
  <% } %>
</div>
 <script 
    async 
    defer 
    src="https://maps.googleapis.com/maps/api/js?v=3.20&key=AIzaSyDHylimdPIr0Lfc6WzCjS47B7mrNrTQSJ0">
</script>
<script>
setTimeout(function(){ 
    for (var property in initializeMaps) {
      initializeMaps[property]();
    }
  }, 2000);
</script>

