<div class="page container">
    <h2>Results</h2>
    <% allSongs.forEach((song) => { %>
       <form action="/playsingle" method="POST">
            <input type="text" name="preview" value="<%= song.preview_url %>">
            <div><%= song.name %></div>
            <div><%= song.preview_url %></div>
            <div><button type="submit" id="listenSong">Listen</button></div>
        </form>
   <% }) %>
</div>