<div class="page container">
  <h2>Songs</h2>
  <div class="songs-album">
        <% tracksArray.forEach((element) => { %>
            <div class="player-info">
                    <div class=""><%= element.name %></div>
            </div>
            <audio class="audio" src="<%= element.previewUrl %>" controls="">
                        Your browser does not support the audio element.
            </audio>

        <% }) %>
    </div>
</div>
