/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
}
.footer {
position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    text-align: center;
    background-image: url(/images/footerimage.png);
    background-size: cover;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  padding: 20px 15px;
}
.container .text-muted {
  margin: 10px 0;
}
