body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin:0;
    margin-bottom: 60px;
}

.page {
  padding-top: 35px !important;
}

.search-box {
    padding-top: 2px;
    width: 360px;
}

.search-box input {
    border-radius: 0px;
}


.header-wrapper {
  display: inline;
  width: 100%;
}

.custom-search-input {
  display: inline-flex;
}


.title a {
    font-size: 26px;
}


.logged-user {
    padding-top: 10px;
    padding-left: 129px;
    text-align: right;
    float: right;
    font-size: 16px;
}

.artist-map {
  height: 300px;
  width: 100%
}

.artists-dialog {
  width: 80%;
}

.error-message {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 342px;
}

.navbar-default { 
    background-color: #32abdd;
    color: #fff;
    height: 100px;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.search-button {
  background-color: #1ab188;
  border-color: #1ab188;
  display: none;
}

.footer-button {
    height: 45px;
    width: 130px;
    background-color: #1ab188;
    color:#fff;
    border: none;
    outline:none;
    margin-left: 30px;
    text-transform: uppercase;
}

.menu {
    padding-top: 12px;
    padding-left: 100px;
    font-size: 16px;
}

.menu div {
    display: inline-block;
    margin-left: 16px;
    height: 28px;
}


.menu a {
    float: right;
    color: #fff;
    cursor: pointer;
}

.menu a:hover {
    float: right;
    color: #fff;
    text-decoration: none;
}


.menu-options {
    float: right;
    padding-top: 15px;
    font-size: 17px;
}

.menu-options span{
    margin-left: 10px;
}

.menu-active {
    border-bottom: solid 2px;
}


.welcome-image {
    background-image: url(/images/image.png);
    margin-top: 99px;
    height: 700px;
    width: 100%;
    background-size: cover;
}

.welcome-waves {
    background-image: url(/images/waves.png);
    height: 220px;
    width: 100%;
    background-size: cover;
    margin-top: -200px;
    background-position-y: 254px;
    
}

.welcome-features-title {
    text-align: center;
    font-size: 30px;
    color: #505079;
}

.welcome-features-caption {
    text-align: center;
    font-size: 18px;
    color: #929292;
}

.welcome-features-underline {
    border-bottom: solid;
    width: 250px;
    position: absolute;
    text-align: center;
    padding-top: 8px;
    left: 40%;
    color: #44b4e0;
}

.welcome-features {
    display: inline-block;
    text-align: center;
    width: 100%;
}


.welcome-features-options {
    display: inline-block;
    margin: 50px;
    vertical-align: top;
}

.welcome-features-options-title {
    padding-top: 10px;
}

.welcome-features-options-description {
    color: #ababab;
    padding-top: 10px;
    width: 230px
}

.search-results {
    padding-left: 100px;
    padding-top: 30px;
    display: inline-flex;
}

.search-results-image {
    border: none;
    width: 150px;
    height: 150px;
}

.search-results-artist {
    color: #31bda6;
    font-size: 20px;
}

.search-results-song {
    color: #34374f;
}

.player {
    margin-top: 20px;
    margin-left: 100px;
    display: inline-flex;

}

.player-image {

}

.player-audio {
    margin-left: 30px;
    margin-top: 100px;
    width: 500px;
}

.player-image img {
    width: 250px;
    height: 250px;
}

.player-info-artist {
    color: #31bda6;
    font-size: 20px;
}

.player-info-song {
    color: #34374f;
}

.player-options {
    margin-top: 34px;
    display: inline-flex;
    width: 600px;
}

.player-options a {
    color:#000;
    margin-right: 14px;
}

.player-options-icon {
    width: 16px;
    margin-right: 4px;
}

.play-twitter {
    background-color: transparent;
    border: none;
}

.followed {
    
}

.followed-albums {
    float: left;
    margin: 25px;

}

.followed-albums img {
    width: 200px;
}

.songs-album {
    text-align: center;
    padding-top: 20px;

}

.user-icon {
    height: 30px;
    margin-right: 10px;
}

.logout-icon {
    height: 30px;
    margin-left: 10px;
}

.empty-page {
    padding-top: 150px;
    width: 900px;
    font-size: 24px;
    text-align: center;
    margin: auto;
    color: #686868;
}