body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin:0;
    margin-bottom: 60px;
}

.page {
  padding-top: 35px !important;
}

.search-box {
    padding-top: 2px;
}


.header-wrapper {
  display: inline-flex;
}

.custom-search-input {
  display: inline-flex;
}

.title {
  display: inline-flex;
}

.title a {
  width:133px;
}

.logged-user {
    padding-top: 6px;
    padding-left: 10px;
    text-align: center;
}

.artist-map {
  height: 300px;
  width: 100%
}

.artists-dialog {
  width: 80%;
}

.error-message {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 422px;
}

.navbar-default { 
  background-color: #2a3943;
  color:#fff;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.search-button {
  background-color: #1ab188;
  border-color: #1ab188;
}

.footer-button {
    height: 45px;
    width: 130px;
    background-color: #1ab188;
    color:#fff;
    border: none;
    outline:none;
    margin-left: 30px;
    text-transform: uppercase;
}


