body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin:0;
    margin-bottom: 60px;
}

.page {
  padding-top: 35px !important;
}

.search-box {
    padding-top: 2px;
}


.header-wrapper {
  display: inline-flex;
}

.custom-search-input {
  display: inline-flex;
}

.title {
  display: inline-flex;
}

.title a {
  width:133px;
}

.logged-user {
    padding-top: 12px;
    padding-left: 10px;
}

